.buttonParent {
    display: flex;
    justify-content: center;
}

.playerFormParent button {
    margin: 1rem;
}

.landingPage button,
.playerForm button,
.playerConfirm button,
.match button {
    color: var(--lightGreen);
    background-color: var(--darkViolet);
    border: none;
    border-radius: 1%;
    border: solid 2px var(--grey);
    margin: 10px;
    padding: 5px;
}

.landingPage button:hover,
.playerForm button:hover,
.playerConfirm button:hover,
.match button:hover {
    color: var(--lightGreen);
    background-color: var(--grey);
    border: solid 2px var(--darkViolet);
    border-radius: 1%;
}

.playerForm .resetButtonParent,
.playerForm .randomSkillButtonsParent,
.playerConfirm .playButtonParent,
.playerConfirm .backResetButtonParent,
.match .matchResetButton {
    display: flex;
    justify-content: center;
}

.playerConfirm .buttons {
    display: block;
}

.match .matchResetButton {
    margin-top: 5rem;
}