h1 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 5rem;
    color: var(--lightGreen);
    text-align: center;
}

h2 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 4rem;
    color: var(--lightGreen);
    text-align: center;
}

h3 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 3rem;
    color: var(--lightGreen);
    text-align: center;
}

.playerConfirm .team1Parent .teamHeader, .playerConfirm .team2Parent .teamHeader {
    font-family: 'Permanent Marker', sans serif;
    color: var(--lightViolet);
    text-align: center;
}

/* 
.landingPage main h3 {
    font-size: 6vw;
    max-width: 80%;
    text-align: center;
    clear: both;
} */