h1 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 4.5rem;
    color: var(--lightGreen);
    text-align: center;
}

h2 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 4rem;
    color: var(--lightGreen);
    text-align: center;
}

h3 {
    font-family: 'Permanent Marker', sans serif;
    font-size: 3rem;
    color: var(--lightGreen);
    text-align: center;
}

.playerConfirm .team1Parent .teamHeader,
.playerConfirm .team2Parent .teamHeader {
    font-family: 'Permanent Marker', sans serif;
    color: var(--lightViolet);
    text-align: center;
}


.headerParent h2 {
    color: var(--darkViolet);
    margin: 5rem 5rem 0 5rem;
    text-align: center;
    border-top: 2px solid var(--lightGreen);
    border-bottom: 2px solid var(--lightGreen); 
}

.headerParent span {
    font-family: 'Permanent Marker', sans serif;
    color: var(--lightViolet);
}