.teamKits,
.teamDesigns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: var(--lightViolet);
}

.teamKits {
    border-top: 2px solid var(--lightGreen);
    border-left: 2px solid var(--lightGreen);
    border-right: 2px solid var(--lightGreen);
}

.teamDesigns {
    border-bottom: 2px solid var(--lightGreen);
    border-left: 2px solid var(--lightGreen);
    border-right: 2px solid var(--lightGreen);
}

.teamKits img {
    height: 4rem;
    width: auto;
  }
  
.teamDesigns img {
    height: 4rem;
    width: auto;
    border-radius: 100%;
 }
  
.chosenStyleParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 2rem;
}

.chosenStyleParent .chosenStyle {
    border-radius: 100%;
    height: 14rem;
    width: 14rem;
    background-color: var(--lightViolet);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid var(--darkGreen);
}
  
.chosenStyle img {
    height: 11.5rem;
    width: auto;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.matchTeams ul {
    display: flex;
    justify-content: center;
}

.matchKits {
    display: flex;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
}
  
.matchDesigns {
    display: flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-size: cover; 
}

.matchParent .team1Crowd {
    transform: rotate(280deg);
    background-size: cover;
}

.matchParent .team2Crowd {
    transform: rotate(440deg);
    background-size: cover;
}

.matchParent .team1Crowd,
.matchParent .team1CrowdImage img,
.matchParent .team2Crowd,
.matchParent .team2CrowdImage img {
    width: 22rem;
}

.team1Parent, .team2Parent {
margin-top: 5rem;
}

.matchParent .team1Crowd,
.matchParent .team2Crowd {
    border-radius: 1%;
    height: 12rem;
    align-self: center;
}

.matchParent li {
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.teamsOnPitch {
    display: flex;
    background-color: var(--darkGreen);
    border-radius: 1%;
    justify-items: center;
}

.teamsOnPitch .team1OnPitch,
.teamsOnPitch .team2OnPitch {
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
}