.teamKits,
.teamDesigns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border-radius: 1%; */
    background-color: var(--lightViolet);
}

.teamKits {
    border-top: 2px solid var(--lightGreen);
    border-left: 2px solid var(--lightGreen);
    border-right: 2px solid var(--lightGreen);
}

.teamDesigns {
    border-bottom: 2px solid var(--lightGreen);
    border-left: 2px solid var(--lightGreen);
    border-right: 2px solid var(--lightGreen);
}

.teamKits img {
    height: 4rem;
    width: auto;
  }
  
.teamDesigns img {
    height: 4rem;
    width: auto;
    border-radius: 100%;
 }
  
.chosenStyleParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin: 2rem;
}

.chosenStyleParent .chosenStyle {
    border-radius: 100%;
    height: 14rem;
    width: 14rem;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
  
.chosenStyle img {
    height: 11.5rem;
    width: auto;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}
  
.matchKits {
    width: 80px;
    height: auto;
}
  
.matchDesigns {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover; 
}