.matchParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-top: 8rem;
    /* width: 70%; */
    
}

.team1Parent {
    display: flex;
    /* align-content: center; */
    /* justify-content: right; */
    /* justify-content: center; */
    /* flex-flow: row wrap; */
    /* height: auto; */
}

.team2Parent {
    display: flex;
    /* align-content: center; */
    /* justify-content: left; */
    /* justify-content: center; */
    /* flex-flow: row wrap; */
    /* height: 80rem; */
}

.matchTeams {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

/* .matchTeams li {
    justify-content: center;
} */

.matchTeams {
    display: flex;
    justify-content: center;
}

.matchTeams ul {
    list-style-type: none;
    padding: 0;
}

/* .matchDesigns img {
    justify-content: center;
} */

.matchTeams ul li {
    /* display: flex;
    flex-flow: column wrap; */
    justify-content: center;
}

.matchTeams ul li matchDesigns, .matchTeams ul li .matchKits {
    justify-content: center;
}

.matchParent .headerParent {
    margin-bottom: 10rem;
    
}