.playerForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* .playerForm form {
    justify-content: center;
} */

.playerForm main form {
    display: flex;
    justify-content: center;
}

.playerForm main .playerFormParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.playerForm main {
    width: 75%;
    background-color: var(--grey);
}

.playerForm aside {
    width: 25%;
    background-color: var(--darkViolet);
    border-left: 2px solid var(--lightGreen);
    padding: 5px;
}

.playerForm ul {
    padding-left: 0;
}

.playerFormParent input, .playerFormParent input:focus {
    background-color: var(--darkViolet);
    border: 1px solid var(--grey);
    border-radius: 2%;
    width: 100%;
}

.playerFormParent {
    margin: 1rem;
    border: 2px solid var(--lightGreen);
    padding: 1rem;
    max-width: 600px;
}

.playerFormParent .skillSlider, .playerFormParent .skillSlider:focus {
    background-color: var(--lightViolet);
    height: 5px;
    border-radius: 2%;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: var(--darkGreen);
    border: none;
    border-radius: 50%;
   }
   
   input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: var(--darkGreen);
    border: none;
    border-radius: 50%;
   }
   
