.playerConfirm {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--grey);
}

.playerConfirm .teamsParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.playerConfirm .team1Parent .teamHeader,
.playerConfirm .team2Parent .teamHeader {
    border-bottom: 2px solid var(--darkViolet);
    padding: 0.5rem;
    border-radius: 2%;
}

.playerConfirm .team1Parent,
.playerConfirm .team2Parent {
    flex-flow: column wrap;
    border: 2px solid var(--darkGreen);
    min-width: 300px;
    max-width: 360px;
    padding: 1rem;
    margin: 1rem;
}

.playerConfirm .team1Parent ul,
.playerConfirm .team2Parent ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: var(--lightGreen);
    padding-left: 0;
}