.landingPage {
    display: flex;
    flex-flow: row wrap;
}

.landingPage main form {
    justify-content: center;
}

.landingPage main .sectionsParent,
.landingPage main .quantityParent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.landingPage main {
    width: 75%;
    background-color: var(--grey);
}

.landingPage aside {
    width: 25%;
    background-color: var(--darkViolet);
    border-left: 2px solid var(--lightGreen);
    padding: 0.1rem;
}

.landingPage main form .player1,
.landingPage main form .player2 {
    display: flex;
    justify-content: center;
    background-color: var(--grey);
    border: 2px solid var(--lightGreen);
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    max-width: 360px;
}

.landingPage form label {
    display: block;
    text-align: center;
}

.landingPage input, .landingPage input:focus {
    background-color: var(--darkViolet);
    border: 1px solid var(--grey);
    border-radius: 2%;
    width: 100%;
}

.landingPage .teamNameInput, .landingPage .teamBannerInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
}