@font-face {
    font-family: 'Permanent Marker';
    src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'Andika';
    src: url(fonts/AndikaNewBasic-Regular.ttf);
}

* {
    font-family: 'Andika', sans serif;
}

p {
    color: var(--grey);
}

.landingPage main label, .landingPage aside p, .playerForm main label {
    color: var(--lightGreen);
}

.landingPage input, .landingPage input:focus, .playerForm input, .playerForm input:focus {
    color: var(--lightViolet);
}

.landingPage input:active, .playerForm input:active {
    color: var(--lightViolet);
}

.playerForm aside span {
    font-weight: bold;
    color: var(--darkViolet);
}

.playerForm main p, .playerForm aside p {
    color: var(--lightGreen);
}

.playerForm aside .playerListParent .playerListLi {
    color: var(--grey);
    text-align: center;
}

.playerForm main p, .playerForm aside p {
    color: var(--lightGreen);
}

.playerForm p {
    text-align: center;
}

.playerForm .playerFormWarn {
    font-weight: bold;
    font-style: italic;
    margin-top: 2.5rem;
}

/* .playerForm hr {
    color: white;
    width: 100%;
} */

.landingPage main .chosenStyle img {
    color: var(--lightViolet);
}

.matchParent img {
    color: var(--grey);
}

.matchParent li {
    color: var(--lightGreen);
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.matchParent .teamBanner {
    font-family: 'Permanent Marker', sans serif;
    font-size: 2rem;
    color: var(--darkViolet);
    text-align: center;
}

/* .playerForm aside .playerSettingsSeparate {
    color: var(--darkGreen);
} */