@font-face {
    font-family: 'Permanent Marker';
    src: url(fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'Andika';
    src: url(fonts/AndikaNewBasic-Regular.ttf);
}

* {
    font-family: 'Andika', sans serif;
}

p {
    color: var(--grey);
}

.landingPage main label,
.landingPage aside p,
.landingPage aside a,
.playerForm main label {
    color: var(--lightGreen);
}

.landingPage aside a {
    color: var(--darkGreen);
    font-weight: bold;
}

.landingPage input, .landingPage input:focus, .playerForm input, .playerForm input:focus {
    color: var(--lightViolet);
}

.landingPage input:active, .playerForm input:active {
    color: var(--lightViolet);
}

.playerForm aside span {
    font-weight: bold;
    color: var(--darkViolet);
}

.playerForm main p, .playerForm aside p {
    color: var(--lightGreen);
}

.playerForm aside .playerListParent .playerListLi {
    color: var(--grey);
    text-align: center;
}

.playerForm main p, .playerForm aside p {
    color: var(--lightGreen);
}

.playerForm main p {
    text-align: center;
}

.playerForm .playerFormWarn {
    font-weight: bold;
    font-style: italic;
    margin-top: 2.5rem;
}

/* .playerForm hr {
    color: white;
    width: 100%;
} */

.landingPage main .chosenStyle img {
    color: var(--lightViolet);
}

.matchParent img {
    color: var(--darkGreen);
}

.matchParent li {
    color: var(--lightGreen);
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
}

.matchParent .teamBanner {
    font-family: 'Permanent Marker', sans serif;
    font-size: 2rem;
    color: var(--darkViolet);
    text-align: center;
    line-height: 1;
}

.sidebarSettingsAndAbout,
.sidebarPlayersInstructions {
    padding: 0.5rem;
    text-align: right;
}

.sidebarSettingsAndAbout {
    position: fixed;
}

.sidebarSettingsAndAbout p,
.sidebarPlayersInstructions p {
    font-size: 0.9rem;
}

.sidebarSettingsAndAbout h6,
.sidebarPlayersInstructions h6 {
    color: var(--lightViolet);
    font-size: 1.6rem;
}

/* .sidebarSettingsAndAbout .sidebarAbout {
    position: fixed;
    bottom: 0;
    padding-right: 0.5rem;
} */

.sidebarSettingsAndAbout .sidebarAbout p,
.sidebarSettingsAndAbout .sidebarWelcome p,
.sidebarPlayersInstructions .sidebarAbout p {
    font-size: 0.8rem;
}

/* .playerForm aside .playerSettingsSeparate {
    color: var(--darkGreen);
} */

@media screen and (max-width: 1265px), screen and (max-height: 468px) {
    .sidebarSettingsAndAbout p,
    .sidebarPlayersInstructions p {
        font-size: 0.8rem;
    }
    .sidebarSettingsAndAbout .sidebarAbout p,
    .sidebarSettingsAndAbout .sidebarWelcome p,
    .sidebarPlayersInstructions .sidebarAbout p {
        font-size: 0.7rem;
}
    .sidebarSettingsAndAbout h6,
    .sidebarPlayersInstructions h6 {
        font-size: 1.3rem;
    }
    .sidebarSettingsAndAbout {
        position: initial;
    }
}