@import './styles/typography.css';
@import './styles/buttons.css';
@import './styles/colours.css';
@import './styles/header.css';
@import './styles/imagery.css';
@import './styles/match.css';
@import './styles/playerForm.css';
@import './styles/playerList.css';
@import './styles/playerConfirm.css';
@import './styles/settings.css';

/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */