body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-flow: row wrap;
}

.kits img {
  height: 75px;
  width: auto;
}

.patterns img {
  height: 75px;
  width: auto;
  border-radius: 100%;
}

.chosenStyle {
  border-radius: 100%;
  height: 220px;
  width: 220px;
  background-size: cover;
}

.chosenStyle img {
  height: 200px;
  width: 200px;
}

.matchKits {
  width: 80px;
  height: auto;
}

.matchDesigns {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-size: cover;

}